@charset "UTF-8";
body{
	background-color:antiquewhite;
}
table{
	margin-left:160px;
	margin-top:50px;
}
#container{
	width:757px;
	height :613px;
}
a{
   text-decoration : none;
}
.h{
   width: 715px;
   height : 60px;
   margin-bottom:0px;
   margin-right:0px;
   padding-right:0px;
}
.h li{
   padding-top : 20px;
   float : left;
   width: 550px;
   list-style-type: none;
   font-size: 20px;
}
button img{
   width:20px;
   heigth :20px;
}
.img_button{
   width : 30px;
   height : 30px;
}
a:hover{
   color: red !important;
}